{% extends "layout.html" %}
{% block title %}
Home Page
{% endblock %}
{% block content %}
<h1 class="bg-orange-600 text-xl">Chai aur Code | Home page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus harum amet possimus asperiores laborum aliquam ad non autem, earum eum consequatur nam, commodi corrupti in hic perspiciatis a atque nisi, minus iusto. Nulla nesciunt illo ducimus quo facilis, in ex eius soluta ipsa quae dolore, eligendi accusantium voluptas ut optio repellat totam vel. Ab nostrum doloribus iure. Omnis, veniam numquam rem pariatur tempora in inventore ea qui accusantium, ab debitis sapiente obcaecati optio totam asperiores dolorum necessitatibus animi molestias accusamus facilis eius dolor! Provident quam dolor dolorem aliquid maiores esse reiciendis doloribus? Perspiciatis iure, veritatis laudantium nostrum voluptatibus dicta dolor!</p>
{% endblock %}